{% extends 'order/main.html' %}


{% block content %}
<div class="max-w-6xl mx-auto p-6">


    <hr>

    <h2 class="my-6 text-xl">My orders</h2>

    {% for order in request.user.orders.all %}
        <div class="w-full mb-6 p-6 flex flex-wrap bg-gray-100 rounded-xl">
            <div class="mb-6 flex justify-between">
                <a href="#">Order id: {{ order.id }}</a>
            </div>

            <div class="mb-6 w-full">
                    <div class="product mb-6 flex pr-6">
                        <a href="#" class="w-1/4">
                            <img class="hover:shadow-lg rounded-xl" src="{{ item.product.get_thumbnail }}">
                        </a>

                        <div class="w-3/4 pl-6">
                            <div class="flex justify-between">
                                <a href="#" class="text-lg">{{ order.product.Name }}</a>
                            </div>

                            <hr>

                            <div class="mt-6">
                                Quantity: {{ order.quantity }}
                            </div>
                        </div>
                    </div>
            </div>

            <div>
                <p class="text-lg">Date: {{ order.created_at }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}